:root {
    --cor-fundo: #0a0a0a;
    --cor-controle: #1a1a1a;
    --cor-botao: #262626;
    --cor-botao-hover: #333;
    --cor-elemento-hover: #292929;
    --cor-botao-ativo: #444;
    --cor-texto: #fff;
    --espaco: 1rem;
    --espaco-menor: 0.25rem
    --raio: 35px;
}

*{
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body{
    overflow: hidden;
    height: 100%;
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: system-ui, sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: var(--espaco);
    gap: var(--espaco);
}

button{
    background-color: var(--cor-botao);
    color: var(--cor-texto);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-family: inherit;
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.15s, transform 0.08s;
    box-shadow: inset 1px 0 rgba(255, 255, 255, 0, 0.08);
    width: 20rem;
    max-width: 300px;
    height: 5rem;
    max-height: 450px;
}

button:hover{
    background: var(--cor-botao-hover);
}

button:active{
    transform: scale(0.95);
    background: var(--cor-botao-ativo);
}

form{
    max-width: 30rem;
    justify-content: center;
    justify-self: center;
}

input{
    width: 15rem;
    min-width: 200px;
    height: 3rem;
    min-height: 32px;
    font-size: 1.5rem;
    border: #0a0a0a solid;
}

a{
    font-weight: bold;
    font-size: 1.2rem;
    color: var(--cor-texto);
    text-decoration: none;
}

p{
    color: rgb(17, 219, 142);
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: auto;
}
